{% extends 'base/base.html' %}
{% load static %}
{% block content %}
        <!-- start page content wrapper-->
        <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">

          <!--start breadcrumb-->
          <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Forms</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0 align-items-center">
                  <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
                </ol>
              </nav>
            </div>
            <div class="ms-auto">
              <div class="btn-group">
                <a href="{% url 'users_list' %}" class="btn btn-outline-primary">Retour</a>
              </div>
            </div>
          </div>
          <!--end breadcrumb-->
            <div class="row">
              <div class="col-xl-12 mx-auto">
              
                <div class="card">
                  <div class="card-body">
                    <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">Enregistrer un collegue</h6>
                    <hr>
                    <form class="row g-3" method="post" action="">
                      {% csrf_token %}
                      <div class="col-6">
                        <label class="form-label">Nom</label>
                        <input required type="text" name="nom" class="form-control">
                      </div>
                      <div class="col-6">
                        <label class="form-label">Prenom</label>
                        <input required type="text" name="prenom" class="form-control">
                      </div>
                      <div class="col-4">
                        <label class="form-label">Email</label>
                        <input required type="email" name="email" class="form-control">
                      </div>
                      <div class="col-4">
                        <label class="form-label">Rôle</label>
                        <select class="form-select" name="group" aria-label="Default select example">
                          <option selected disabled>Rôle</option>
                          {% if groups %}
                          {% for group in groups %}
                          {% if group.name != 'DG' %}
                          <option value="{{group.name}}">{{group.name}}</option>
                          {% endif %}
                          {% endfor %}
                          {% else %}
                          Pas de groupes
                          {% endif %}
                        </select>
                      </div>
                      <div class="col-4">
                        <label class="form-label">Téléphone</label>
                        <input required type="text" name="telephone" class="form-control">
                      </div>
                      
                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  </div>
                </div>

              </div>
            </div>
             

          </div>
          <!-- end page content-->
         </div>

{% endblock content %}